{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "@typescript-eslint/no-unused-vars": "off",
    "no-unused-vars": "off",
    "prettier/prettier": 2,
    "function-call-argument-newline": [
      "off",
      "consistent"
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-this-alias": [
      "error",
      {
        "allowDestructuring": true,
        "allowedNames": [
          "self"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}